@base: #2ecc71;

#landing {
  background-color: @base;
  min-height: 300px;
  color: white;
  nav {
    background-color: @base;
    border: none;
    a {
      color: white;
    }
  }
  h1 {
    padding-top: 75px;
  	margin-top: 0;
  }
  h3 {
  	padding-bottom: 25px;
  }
}

#working {
  width: 90%;
  margin: auto;
  h1 {
    padding-top: 50px;
  }
  #example {
    background-color: @base;
    color: white;
    padding: 25px 15px;
    border-radius: 5px;
    margin-top: 25px;
    .display-results {
      background-color: #fff;
      width: 100%;
      min-height: 200px;
    }
  }
  #dashboard {
    .right-column {
      float: none;
      padding-left: 35px;
    }
  }
  .love {
    font-size: 12px;
    bottom: 15px;
    left: 0;
    text-align: center;
    padding: 0 40px;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#start {
  .btn{
     background-color: @base !important;
     border-color: none;
  }
}

.footer {
  background-color: @base;
  margin-top: 25px;
  padding: 15px 0px;
  color: #fff;
  p {
    margin: 0;
  }
}