template(name="landing")
  #layout-nav.no-border
    .layout-nav-left
      .layout-nav-head REST2DDP
    .layout-nav-right
      .layout-nav-item
        +loginButtons
  #landing.text-center
    h1 Easily translate your REST API into DDP
    h3 
    button.btn.btn-default.btn-lg.github-signup Get Started
  #working
    h1.text-center Take any RESTful Endpoint and make it Real-time.
    +dashboard
  br
  #start
    p.text-center Start using this now.
    button.center-block.btn.btn-success.btn-lg.github-signup Get Started

  footer.footer
   .container
    p.text-center This is a cool project      
