template(name="dashboard")
  #dashboard
    #dashboard-nav
      .dash-left
        .dashboard-head Dashboard
      .dash-right
        .dash-nav Link
        .dash-nav
          +loginButtons

    .left-column
      #configurations
        ul.config-listing
          +each ApiConfigs
            +if isActive _id
              li.active {{name}}
            +else
              li {{name}}

        .add-btn +

    .right-column
      #configuration-fields
        +autoForm(id="ApiConfigs" type="update" doc=activeConfig collection="ApiConfigs" autosave=true)
          fieldset
            legend Configuration
            +afQuickField name="name"
            +afQuickField name="collectionName"
            +afQuickField name="jsonPath"
            +afQuickField name="restUrl"
            +afQuickField name="pollInterval"

        hr

        .left
          h5 JSON Output
          textarea(name="JSONOutput" placeholder="JSON output goes here") {{output.statusCode}} {{stringify output.headers}} {{output.content}}
        .right
          h5 Meteor Output
          textarea(name="MeteorOutput" placeholder="Meteor output goes here")
            +each output.result
             {{stringify this}}

    .love Hacked together ♥ by Paul, Dave, Karl & Ben
