template(name="dashboard")
  #dashboard
    #dashboard-nav
      .dash-left
        .dashboard-head Dashboard
      .dash-right
        .dash-nav Link
        .dash-nav
          +loginButtons

    .left-column
      #configurations
        ul.config-listing
          +each ApiConfigs
            +if isActive _id
              li.active {{name}}
            +else
              li {{name}}

        .add-btn +

    .right-column
      #configuration-fields
        h5 Configuration
        label(for="name") Name
        input(type="text" id="name" name="name" placeholder="name" value="{{activeConfig.name}}")
        br
        label(for="collectionName") Collection Name
        input(type="text" id="collectionName" name="collectionName" value="{{activeConfig.collectionName}}")
        br
        label(for="url") REST URL
        input(type="text" id="url" name="url" value="{{activeConfig.restUrl}}")
        br
        label(for="jsonPath") JSON Path
        input(type="text" id="jsonPath" name="jsonPath" value="{{activeConfig.jsonPath}}")
        br
        label(for="auth") Auth
        input(type="text" id="auth" name="auth" placeholder="Auth")

        hr

        .left
          h5 JSON Output
          textarea(name="JSONOutput" placeholder="JSON output goes here")
        .right
          h5 Meteor Output
          textarea(name="MeteorOutput" placeholder="Meteor output goes here")

    .love Hacked together ♥ by Paul, Dave, Karl & Ben