template(name="love")
  .love Hacked together ♥ by
    a(href="https://twitter.com/pauldowman" target="_blank") Paul
    | ,
    a(href="https://twitter.com/davidhurley87" target="_blank") Dave
    |,
    a(href="https://twitter.com/KarlDanninger" target="_blank") Karl
    | &amp;
    a(href="https://twitter.com/_benstr" target="_blank") Ben