#landing {
  background-color: #2ecc71;
  min-height: 500px;
  color: white;
  h1 {
  	padding-top: 100px;
  	margin-top: 0;
  }
  p {
  	padding: 25px 0px;
  }
}

#working {
  width: 90%;
  margin: auto;
  h1 {
    padding-top: 50px;
  }
  input {
    padding: 10px 15px;
  }
  #example {
    background-color: #2ecc71;
    color: white;
    padding: 25px 15px;
    border-radius: 5px;
    margin-top: 25px;
    .display-results {
      background-color: #fff;
      width: 100%;
      min-height: 200px;
    }
  }
}